.Box {
    position: relative;
    width: 1135px;
    height: 680px;
    background-color: grey;
    margin: auto;
}

.ADIT1 {
    float: left;
    width: 96%;
    height: 3cm;
    background-color:red;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 1em;
    border: 2px solid black;
}

.ADIT2 {
    float: left;
    width: 5cm;
    height: 5cm;
    background-color: yellow;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid black;
}

.ADIT3 {
    float: left;
    width: 26cm;
    height: 5cm;
    background-color: green;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 3em;
    border: 2px solid black;
}

.ADIT4 {
    float: left;
    width: 5cm;
    height: 5cm;
    background-color: yellow;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid black;
}

.ADIT5 {
    float: left;
    width: 26cm;
    height: 5cm;
    background-color: green;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 3em;
    border: 2px solid black;
}
